.cart {
    width: 1190px;
    margin: 0 auto;
    .clear {
        clear: both;
    }
    .cart-top {
        margin-top: 10px;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        .cart-nav {
            float: left;
            li {
                display: inline-block;
                list-style: none;
                color: #f40;
                height: 16px;
                font-weight: 700;
                font-size: 16px;
                font-family: 'Hiragino Sans GB', 'Lantinghei SC', 'Microsoft Yahei', SimSun;
                text-align: center;
                span {
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }
        .settlement {
            float: right;
            p {
                display: inline-block;
            }
            input {
                display: inline-block;
                height: 20px;
                padding: 0 10px;
                border: 0;
                background: #f40;
                color: #fff;
                line-height: 20px;
                border-radius: 3px;
                &:disabled {
                    background: #444;
                    cursor: not-allowed;
                }
            }
        }
    }
}