.nav {
    background: #f5f5f5;
    .wrap-nav {
        width: 1190px;
        height: 35px;
        margin: 0 auto;
        background-color: #f5f5f5;
        border-bottom: 1px solid #eee;
        .nav-left,
        .nav-right {
            display: inline-block;
            li {
                padding: 0 6px;
                display: inline-block;
                font-size: 12px;
                line-height: 35px;
                color: #6c6c6c;
                a {
                    color: #6c6c6c;
                }
                a:hover {
                    color: red;
                }
                .mytaobao {
                    display: block;
                    display: none;
                }
            }
            .hoverd {
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                box-sizing: border-box;
            }
            .color-red {
                a {
                    color: red;
                }
            }
        }
        .nav-right {
            float: right;
        }
        .gouwuche {
            display: none;
            position: absolute;
            border: 1px solid #ccc;
            margin-left: 794px;
            z-index: 11;
            width: 120px;
            line-height: 15px;
            color: #6c6c6c;
            p {
                span {
                    display: block;
                }
            }
        }
        .shoucangjia,.maijia,.kefu {
            display: none;
            position: absolute;
            border: 1px solid #ccc;
            background-color: #fff;
            z-index: 11;
            width: 65px;
            line-height: 15px;
            li {
                color: #6c6c6c;
                text-align: center;
            }
        }
        .shoucangjia {
            margin-left: 859px;
        }
        .maijia {
            margin-left: 990px;
        }
        .kefu {
            margin-left: 1050px;
        }
    }
}

.right-slide {
    position: absolute;
    z-index: 4;
    top: 245px;
    right: 50%;
    width: 50px;
    text-align: center;
    margin-right: -590px;
    ul {
        // border: 1px solid #ff5000;
        border-radius: 10px;
        li {
            height: 34px;
            padding: 5px 8px;
            a {
                font-size: 13px;
                line-height: 17px;
            }
        }
        li:hover {
            cursor: pointer;
            background-image: -webkit-linear-gradient(135deg, #ff971b, #ff5000);
            background-image: -o-linear-gradient(135deg, #ff971b, #ff5000);
            background-image: linear-gradient(135deg, #ff971b, #ff5000);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5000', endColorstr='#ffff6f06', GradientType=1);
            a {
                color: #fff;
            }
        }
        li:nth-child(1) {
            border-radius: 10px 10px 0 0;
            background-image: -webkit-linear-gradient(135deg, #ff971b, #ff5000);
            background-image: -o-linear-gradient(135deg, #ff971b, #ff5000);
            background-image: linear-gradient(135deg, #ff971b, #ff5000);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5000', endColorstr='#ffff6f06', GradientType=1);
            a {
                color: #fff;
            }
        }
        #scrolltop {
            display: none;
            a {
                i {
                    display: block;
                    position: relative;
                    width: 8px;
                    height: 8px;
                    margin-top: 5px;
                    transform: rotate(45deg);
                    border-top: 2px solid #ddd;
                    border-left: 2px solid #ddd;
                    margin-left: -5px;
                    left: 50%;
                }
            }
        }
        #scrolltop:hover {
            a {
                i {
                    border-top: 2px solid #fff;
                    border-left: 2px solid #fff;
                }
            }
        }
        li:nth-child(7) {
            a {
                line-height: 34px;
            }
        }
        li:nth-child(8) {
            border-radius: 0 0 10px 10px;
        }
    }
}

.fixed {
    position: fixed;
    top: 42px;
}

.clear {
    clear: both;
}

.footer {
    position: absolute;
    width: 100%; // bottom: 0;
    background-color: #fff;
    text-align: center;
    .footer-ensure {
        img {
            width: 1000px;
        }
    }
    .footer-desc {
        width: 1190px;
        margin: 0 auto;
        .desc {
            display: inline-block;
            width: 20%;
            h3 {
                font-size: 18px;
            }
            ul {
                li {
                    font-size: 16px;
                }
            }
        }
    }
    .copyright {
        .white-link {
            ul {
                li {
                    display: inline-block;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding-bottom: 300px;
}